In [42]:
import pandas as pd
import numpy as np

col_names = pd.read_csv('../data/dataset.csv', nrows=0).columns
dtype_map = {'class' : np.int16, 'bankruptcy_after_years' : np.int16, 'year' : np.int16}
dtype_map.update({col: np.float64 for col in col_names if col not in dtype_map})

df = pd.read_csv('../data/dataset.csv', dtype=dtype_map)
df = df.drop([df.columns[0], df.columns[1], df.columns[2]], axis=1)
df.drop_duplicates(keep=False, inplace=True)
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy_after_years,year
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,0,0,1
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,0,0,1
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,0,0,1
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,0,0,1
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,0,0,1

The following variables are mapped to **int16** data type:
a) **class** - binary output variable that is suitable for 2-class classification;
b) **bankruptcy_after_years** - discrete output variable with 5 possible values that is suitable for multiclass classification, range [0, 5], where 0 indicates firm was ot bakrupted, 1..5 - firm bakrupted after 1..5 years;
c) **year** - engineered discrete input variable that indicates the year when the observation was made, range [1, 5].

In [39]:
df['class'].value_counts()

0    40534
1     2075
Name: class, dtype: int64

In [40]:
df['bankruptcy_after_years'].value_counts()

0    40534
2      511
3      491
1      406
4      396
5      271
Name: bankruptcy_after_years, dtype: int64

In [41]:
df['year'].value_counts()

3    10329
2     9999
4     9628
1     6863
5     5790
Name: year, dtype: int64

In [33]:
df.shape

(42609, 67)

In [44]:
df.isnull().sum()

Attr1                        8
Attr2                        8
Attr3                        8
Attr4                      132
Attr5                       89
Attr6                        8
Attr7                        8
Attr8                       92
Attr9                        9
Attr10                       8
Attr11                      44
Attr12                     132
Attr13                     123
Attr14                       8
Attr15                      36
Attr16                      93
Attr17                      92
Attr18                       8
Attr19                     124
Attr20                     123
Attr21                    5818
Attr22                       8
Attr23                     123
Attr24                     922
Attr25                       8
Attr26                      93
Attr27                    2736
Attr28                     796
Attr29                       8
Attr30                     123
                          ...
Attr38                       8
Attr39                     123
Attr40                     132
Attr41                     754
Attr42                     123
Attr43                     123
Attr44                     123
Attr45                    2119
Attr46                     133
Attr47                     295
Attr48                       9
Attr49                     123
Attr50                      92
Attr51                       8
Attr52                     299
Attr53                     796
Attr54                     796
Attr55                       1
Attr56                     123
Attr57                       7
Attr58                      80
Attr59                       7
Attr60                    2124
Attr61                     100
Attr62                     123
Attr63                     132
Attr64                     796
class                        0
bankruptcy_after_years       0
year                         0
Length: 67, dtype: int64

In [38]:
df.describe()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
count,42601.000000,42601.000000,42601.000000,42477.000000,4.252000e+04,42601.000000,42601.000000,42517.000000,42600.000000,42601.000000,...,4.260800e+04,4.248600e+04,42602.000000,4.252900e+04,42602.000000,4.048500e+04,42509.000000,4.248600e+04,42477.000000,41813.000000
mean,0.046504,0.593533,0.112906,6.373712,-3.870064e+02,-0.059096,0.102496,11.406720,2.495925,0.582465,...,7.533172e+03,-2.670974e+01,-0.009476,3.056830e+01,1.342620,4.562674e+02,17.195150,1.516469e+03,9.393010,72.504672
std,2.456032,5.896904,5.489866,298.181600,6.180798e+04,7.268185,5.617762,468.427189,57.706526,13.221351,...,7.025229e+04,5.377293e+03,13.796459,5.383895e+03,123.236523,3.265091e+04,558.182979,1.405514e+05,125.325358,2386.499058
min,-463.890000,-430.870000,-479.960000,-0.403110,-1.190300e+07,-508.410000,-517.480000,-141.410000,-3.496000,-479.910000,...,-1.805200e+06,-1.108300e+06,-1667.300000,-1.986900e+02,-327.970000,-1.244000e+01,-12.656000,-2.336500e+06,-1.543200,-10677.000000
25%,0.003347,0.270980,0.021584,1.049400,-4.915000e+01,0.000000,0.005704,0.426940,1.019200,0.293790,...,2.950025e+01,9.170250e-03,0.014879,8.759300e-01,0.000000,5.550300e+00,4.522900,4.201025e+01,3.101600,2.192700
50%,0.049660,0.473050,0.197180,1.569600,-8.087900e-01,0.000000,0.059570,1.064200,1.202150,0.504630,...,1.071050e+03,5.277450e-02,0.120410,9.511900e-01,0.005979,9.808000e+00,6.657400,7.119650e+01,5.096000,4.328300
75%,0.129870,0.690110,0.403960,2.783600,5.083125e+01,0.086128,0.151270,2.589200,2.077850,0.707240,...,4.879000e+03,1.284700e-01,0.286195,9.927200e-01,0.236988,2.032500e+01,10.451000,1.169600e+02,8.622800,9.894800
max,94.280000,480.960000,28.336000,53433.000000,1.250100e+06,543.250000,649.230000,53432.000000,9742.300000,1099.500000,...,6.123700e+06,2.931500e+02,552.640000,1.108300e+06,23853.000000,4.818700e+06,108000.000000,2.501600e+07,23454.000000,294770.000000